chardet~=5.2.0
beautifulsoup4~=4.12.2
tiktoken~=0.5.2
selenium~=4.16.0
python-dotenv~=1.0.0
openai~=1.39.0
ollama~=0.3.1
nltk~=3.9.1
numpy~=1.26.4
gensim~=4.3.3
scipy~=1.13.1
torch~=2.4.1
transformers~=4.44.2
datasets~=2.21.0
sentence-transformers~=3.0.1